li:hover {
    cursor: pointer;
}

.displayBox01 {
    height: 275px;
    width: auto;
}

.displayBox02 {
    height: 300px;
    width: auto;
}

.displayBox03 {
    height: 275px;
    width: auto;
    text-align: center;
}

img {
    width: auto;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

h3 {
    text-align: center;
}

.selected {
    color:lightseagreen;
}

.crewFull {
    color: red;
    font-weight: bolder;
}

.active02 {
    background-color: yellow;
}