.displayBox01 {
    height: 275px;
    width: auto;
}

.displayBox02 {
    height: 300px;
    width: auto;
    text-align: center;
}

.displayBox03 {
    height: 275px;
    width: auto;
    text-align: center;
}

button {
    margin: 2px;
    cursor: pointer;
    
}

h3 {
    text-align: center;
}

/* Add an 'active' class to style the background of the 'Add to Cargo Hold' buttons. */
.active01 {
    background-color: green;
}

.active02 {
    background-color: yellow;
}


/* Add the 'nearMaxMass' class style here: */

.nearMaxMass {
    color: red;
    font-weight: bolder;
    font-style: italic;
}

